[submodule "hashlink"]
	path = hashlink
	url = https://github.com/HaxeFoundation/hashlink.git
[submodule "sdl2"]
	path = sdl2
	url = https://github.com/spurious/SDL-mirror.git
	branch = release-2.0.8
